{% extends "layout.html" %}
{% block body %}
 <div class="row"><h3>Profesori</h3></div>
  <div class="row">
    <div class="col-md-4">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('add_profesori')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="nume" placeholder="Nume" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="prenume" placeholder="Prenume" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="data_nastere" placeholder="Data nastere" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="salariu" placeholder="Salariu" required>
          </div>
          <button class="btn btn-primary btn-block">
            Save 
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nume</td>
            <td>Prenume</td>
            <td>Data nastere</td>
            <td>Salariu</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          {% for data in profesoriDetails %}
          <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <td>{{data[4]}}</td>
            <td width="130">
              <a href="/edit_profesori/{{data[0]}}" class="btn btn-secondary btn-sm">edit</a>
              <a href="/delete_profesori/{{data[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}